html{
    height: 100%;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body{
    font-family:"Futura PT";
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    background-image: url(../img/back-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}